<!DOCTYPE html>
<html>
    
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="directive02.css">
</head>
<body>

    <div data-ng-app="" data-ng-init="quantity=1;price=5">

        <h2>Calculadora de Custo</h2>

        Quantidade: <input id="quantity" type="number" ng-model="quantity">
        Preço: <input id="price" type="number" ng-model="price">

        <p><b>Total em dólares:</b> {{ quantity * price }}</p>
    </div>

</body>
</html>